COMPOSE_PROJECT_NAME=egox

EGOX_IMAGE=egox:local
EGOX_SHM_SIZE=16gb
DATASET_DIR=./dataset

NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility,video

GPU_IDS=0
INFER_ITW_SEED=846514
INFER_EGO4D_SEED=42

MASTER_ADDR=localhost
MASTER_PORT=29501
NNODES=1
NUM_PROCESSES=4
ACCELERATE_CONFIG=configs_acc/4gpu.yaml

WAN_REPO_ID=Wan-AI/Wan2.1-I2V-14B-480P-Diffusers
WAN_LOCAL_DIR=/workspace/checkpoints/pretrained_model/Wan2.1-I2V-14B-480P-Diffusers

EGOX_REPO_ID=DAVIAN-Robotics/EgoX
EGOX_LOCAL_DIR=/workspace/checkpoints/EgoX
EGOX_ALLOW_PATTERNS=*.safetensors

EGOX_HF_HOME=/cache/huggingface
EGOX_TRANSFORMERS_CACHE=/cache/huggingface/transformers
EGOX_HF_HUB_CACHE=/cache/huggingface/hub
